<header>
	<h1>Pets</h1>
	<span="total-pets-found">total <%= @pets.size %> pets found</span>
</header>


<div id="pets">

  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">Sort by name</button>

  <form id="filter">
  	<p>
  		Size:
			<input type="radio" name="size" value="s">Small
			<input type="radio" name="size" value="m">Medium
			<input type="radio" name="size" value="l">Large
			<input type="radio" name="size" value="any-size">Any Size
		</p>
  	<p>
  		Age:
			<input type="radio" name="age" value="young">Young
			<input type="radio" name="age" value="adult">Adult
			<input type="radio" name="age" value="senior">Senior
			<input type="radio" name="age" value="any-age">Any Age
		</p>
  	<p>
  		Species:
			<input type="radio" name="species" value="cat">Cat
			<input type="radio" name="species" value="dog">Dog
			<input type="radio" name="species" value="any-species">Any species
		</p>
	</form>

	<ul class="pagination"></ul>
	<ul class="list">
		<% @pets.each do |pet| %>
			<div class="pet-box">
				<li><img src="http://placehold.it/200X250"></li>
				<li>
					<h3 class="name"><%= pet.name %></h3>
						<%= link_to 'profile', pet, { class: 'btn', id: 'prof-link' } %>
				</li>
				<li><p class="breed"><%= pet.primary_breed %> - <%= pet.secondary_breed %></p></li>
				<li><p class="age"><%= pet.age %></p></li>
				<li><p class="gender"><%= pet.gender %></p></li>
				<li><p class="size"><%= pet.size %></p></li>
				<li><p class="species"><%= pet.species %></p></li>
				<li>
					<p class="location"><%= pet.contact_city %>,
					<%= pet.contact_state %></p>
				</li>
			</div>
		<% end %>
	</ul>
</div>

<br>

<%= link_to 'New Pet', new_pet_path %>
