<header>
	<h1>Pets</h1>
	total <%= @pets.size %> pets found
</header>

<div class="paginator">
	<%= will_paginate @posts %>
</div>

<div class="pets-list">
	<% @pets.each do |pet| %>
		<div id="animal-box">
			<p><img src="http://placehold.it/200X250"></p>
			<h3><%= pet.name %><%= link_to 'profile', pet, { class: 'btn', id: 'prof-link' } %></h3>
			<p><%= pet.primary_breed %> - <%= pet.secondary_breed %></p>
			<p><%= pet.age %></p>
			<p><%= pet.gender %> </p>
			<p><%= pet.contact_city %>, <%= pet.contact_state %> </p>
		</div>
	<% end %>
</div>

<br>

<%= link_to 'New Pet', new_pet_path %>
