<header>
	<h1>Pets</h1>
	total <%= @pets.size %> pets found
</header>

<div class="paginator">
</div>

<div id="pets">

  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">Sort by name</button>

  <form id="filter">
  	<p>
  		Size:
			<input type="radio" name="size" value="s">Small
			<input type="radio" name="size" value="m">Medium
			<input type="radio" name="size" value="l">Large
			<input type="radio" name="size" value="any-size">Any Size
		</p>
  	<p>
  		Age:
			<input type="radio" name="age" value="young">Young
			<input type="radio" name="age" value="adult">Adult
			<input type="radio" name="age" value="senior">Senior
			<input type="radio" name="age" value="any-age">Any Age
		</p>
  	<p>
  		Species:
			<input type="radio" name="species" value="cat">Cat
			<input type="radio" name="species" value="dog">Dog
			<input type="radio" name="species" value="any-species">Any species
		</p>
	</form>

	<ul class="list">
		<% @pets.each do |pet| %>
			<div class="pet-box">
				<li><img src="http://placehold.it/200X250"></li>
				<li>
					<h3 class="name"><%= pet.name %></h3>
						<%= link_to 'profile', pet, { class: 'btn', id: 'prof-link' } %>
				</li>
				<li><p class="breed"><%= pet.primary_breed %> - <%= pet.secondary_breed %></p></li>
				<li><p class="age"><%= pet.age %></p></li>
				<li><p class="gender"><%= pet.gender %></p></li>
				<li><p class="size"><%= pet.size %></p></li>
				<li>
					<p class="location"><%= pet.contact_city %>,
					<%= pet.contact_state %></p>
				</li>
			</div>
		<% end %>
	</ul>
</div>

<br>

<%= link_to 'New Pet', new_pet_path %>

<script type="text/javascript">
	var options = {
		valueNames: [ 'name', 'breed', 'age', 'gender', 'size', 'location', 'species' ]
	};

	var pets = new List( 'pets', options );

	$( "input" ).click(function(){
		var buttonValues = [];
		$.each( $(":radio:checked"), function(i, l){
		  buttonValues.push(l.value);
		});
		pets.filter(function(item) {
		})
	})

	$( "input[name='size']" ).click(function() {
		var size = this.value.toUpperCase()
    // var color=$('#colour').val(), itemVal=$('#items').val();
	  pets.filter(function (item) {
        if (item._values.size.charAt(0).toUpperCase() == size ) {
            return true;
        } else if ( size.indexOf("ANY") > -1 ) {
            return true;
        } else {
        		a = item._values.size
        		console.log( size )
            return false;
        }
    });

  });

// $.each( checked, function(i, l){
//   array.push(checked[i].value)
// } )
</script>
