<!-- removed <p id="notice"> tag -->
<!-- removed @pet.species because it's obvious -->
<header id="pet-name">
  <h1><%= @pet.name %></h1>
</header>

<%= link_to 'Back', pets_path, {id: 'back-link'} %>

<img src="http://placehold.it/200X250">


<div class="general-info-box">
  <div class="column">
    <strong class="title">
      Location
    </strong>
    <div class="holder">
      <%= @pet.contact_city %>, <%= @pet.contact_state %>
    </div>

    <strong class="title">
      Gender
    </strong>
    <div class="holder">
      <%= @pet.gender %>
    </div>
  </div>

  <div class="column-org-info">
    <strong class="title">
      Organization Contact
    </strong>
    <div class="holder">
      <%= @pet.organization_name %><br>
      <%= @pet.contact_street_address %><br>
      <%= @pet.contact_zipcode %><br>
      <%= @pet.contact_phone %><br>
      <%= @pet.contact_fax %><br>
      <%= @pet.contact_email %><br>
    </div>
  </div>
</div>

<div class="description-box">
  <h3><%= @pet.name %>'s Story</h3>
  <p><%= @pet.description %></p>
</div>

<table class="table-striped">
  <thead>
    <tr>
      <th> <%= @pet.primary_breed   %> - <%= @pet.secondary_breed   %></th>
    </tr>
  </thead>
  <tbody>
  <tr><td>Age </td><td> <%= @pet.age  %></td></tr>
  <tr><td>Size </td><td> <%= @pet.size %></td></tr>
  <tr><td>Housebroken? </td><td> <%= @pet.is_housebroken %></td></tr>
  <tr><td>Housetrained? </td><td> <%= @pet.is_housetrained %></td></tr>
  <tr><td>Hypoallergenic? </td><td> <%= @pet.is_hypoallergenic %></td></tr>
  <tr><td>Color </td><td> <%= @pet.color %></td></tr>
  <tr><td>Hair Length </td><td> <%= @pet.hair_length %></td></tr>
  <tr><td>Contact Phone </td><td> <%= @pet.contact_phone %></td></tr>
  <tr><td>Coordinates </td><td> <%= @pet.coordinates %></td></tr>
