<div id="pet-name">
  <p><%= @pet.name %></p>
</div>

<div id="adopt-me-button">
  <p>Adopt Me!</p>
</div>


<div id="back-link">
  <%= link_to '<< Back to Search Results', pets_path %>
</div>

<div id="social-media">
<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>
<i class="fa fa-envelope"></i>
<i class="fa fa-link"></i>
<i class="fa fa-google-plus-square"></i>
</div>
<%= image_tag( "http://placehold.it/200X250" , :id => "profile-pic") %>


<div class="general-info-box">
  <div class="location-gender">
    <strong class="title">
      Location
    </strong>
    <div class="holder">
      <%= @pet.contact_city %>, <%= @pet.contact_state %>
    </div>

    <strong class="title">
      Gender
    </strong>
    <div class="holder">
      <%= @pet.gender %>
    </div>
  </div>

  <div class="contact-org-info">
    <strong class="title">
      Organization Contact
    </strong>
    <div class="holder">
      <%= @pet.organization_name %><br>
      <%= @pet.contact_street_address %><br>
      <%= @pet.contact_city %>, <%= @pet.contact_state %>
      <%= @pet.contact_zipcode %><br>
    </div>
  </div>

  <div class="other-contact-info">
    <strong class="title">
      Phone
    </strong>
    <div class="holder">
      <%= @pet.contact_phone %><br>
    </div>
    <strong class="title">
      Fax
    </strong>
    <div class="holder">
      <%= @pet.contact_fax %><br>
    </div>
    <strong class="title">
      E-mail
    </strong>
    <div class="holder">
      <%= @pet.contact_email %><br>
    </div>
  </div>
</div>

<div class="description-box">
  <h2>More About <%= @pet.name %></h2>
  <p><%= @pet.description %></p>
</div>

<div class="recommended-pets">
  <h4>Recommended Pets</h4>
  <% @recommended_pets.each do |pet| %>
    <div class="rec-pet">
      <%= image_tag( "http://placehold.it/200X250" , :class => "rec-pet-pic") %>
      <div class="rec-pet-info">
        <p class="name"><%= pet.name %></p>
        <p><%= pet.age %> · <%= pet.get_gender.last %></p>
      </div>
    </div>
  <% end %>
</div>


<table class="table-striped">
    <th colspan="2" class="str-table-header">At a Glance</th>
  <tbody>
  <tr class="key-val-row"><td class="key">Breed </td><td class="value">  <%= @pet.primary_breed %><%= " & " if @pet.secondary_breed != nil %><%= @pet.secondary_breed   %></td></tr>
  <tr class="key-val-row"><td class="key">Species </td><td class="value"><%= @pet.species %></td></tr>
  <tr class="key-val-row"><td class="key">Age </td><td class="value"> <%= @pet.age  %></td></tr>
  <tr class="key-val-row"><td class="key">Size </td><td class="value"> <%= @pet.get_size %></td></tr>
  <tr class="key-val-row"><td class="key">Housebroken? </td><td class="value"> <%= "Yes" if @pet.is_housebroken %></td></tr>
  <tr class="key-val-row"><td class="key">Housetrained? </td><td class="value"> <%= "Yes" if @pet.is_housetrained %></td></tr>
  <tr class="key-val-row"><td class="key">Hypoallergenic? </td><td class="value"> <%= "Yes" if @pet.is_hypoallergenic %></td></tr>
  <tr class="key-val-row"><td class="key">Tail </td><td class="value"> <%= @pet.tail ||= "--" %></td></tr>
  <tr class="key-val-row"><td class="key">Color </td><td class="value"> <%= @pet.color %></td></tr>
  <tr class="key-val-row"><td class="key">Hair Length </td><td class="value"> <%= @pet.hair_length %></td></tr>
  <tr class="key-val-row"><td class="key">Contact Phone </td><td class="value"> <%= @pet.contact_phone %></td></tr>
  <tr class="key-val-row"><td class="key">Address </td><td class="value"><%= @pet.address %></td></tr>
  <tr class="key-val-row"><td class="key">Coordinates </td><td class="value"><%= @pet.coordinates %></td></tr>
  <tr class="key-val-row"><td class="key">Status </td><td class="value"><%= @pet.status ||= "--" %></td></tr>
