<!-- lines 1 - 8 changes background color on load. I found this was the most efficient
 way to use assign background colors for 2 different views.

 Wrapping this page around a div did not capture the whole page as with a body tag/complicated styling so it's not ideal, but it got the job done without having to unnecessarily create another layout. If there is a "cleaner" way to achieve this I'm open to suggestions.    -->

<script type="text/javascript">
  function changeBgColor(){
    $('body').css("background-color", "white")
  }
</script>

<body onload="changeBgColor()">

<div id="pet-name">
  <p><%= @pet.name %></p>
</div>

<%= link_to 'Back', pets_path, {id: 'back-link'} %>

<%= image_tag( "http://placehold.it/200X250" , :id => "profile-pic") %>


<div class="general-info-box">
  <div class="column">
    <strong class="title">
      Location
    </strong>
    <div class="holder">
      <%= @pet.contact_city %>, <%= @pet.contact_state %>
    </div>

    <strong class="title">
      Gender
    </strong>
    <div class="holder">
      <%= @pet.gender %>
    </div>
  </div>

  <div class="column-org-info">
    <strong class="title">
      Organization Contact
    </strong>
    <div class="holder">
      <%= @pet.organization_name %><br>
      <%= @pet.contact_street_address %><br>
      <%= @pet.contact_zipcode %><br>
      <%= @pet.contact_phone %><br>
      <%= @pet.contact_fax %><br>
      <%= @pet.contact_email %><br>
    </div>
  </div>
</div>

<div class="description-box">
  <h3><%= @pet.name %>`s Story</h3>
  <p><%= @pet.description %></p>
</div>

<table class="table-striped">
  <thead>
    <tr>
      <th> <%= @pet.primary_breed   %> - <%= @pet.secondary_breed   %></th>
    </tr>
  </thead>
  <tbody>
  <tr><td>Age </td><td> <%= @pet.age  %></td></tr>
  <tr><td>Size </td><td> <%= @pet.size %></td></tr>
  <tr><td>Housebroken? </td><td> <%= @pet.is_housebroken %></td></tr>
  <tr><td>Housetrained? </td><td> <%= @pet.is_housetrained %></td></tr>
  <tr><td>Hypoallergenic? </td><td> <%= @pet.is_hypoallergenic %></td></tr>
  <tr><td>Tail </td><td> <%= @pet.tail %></td></tr>
  <tr><td>Color </td><td> <%= @pet.color %></td></tr>
  <tr><td>Hair Length </td><td> <%= @pet.hair_length %></td></tr>
  <tr><td>Contact Phone </td><td> <%= @pet.contact_phone %></td></tr>
  <tr><td>Address </td><td> <%= @pet.address %></td></tr>
  <tr><td>Coordinates </td><td> <%= @pet.coordinates %></td></tr>
  <tr><td>Species </td><td> <%= @pet.species %></td></tr>
  <tr><td>Status </td><td> <%= @pet.status %></td></tr>
