<!DOCTYPE html>
<html>
<head>
  <title>PetSearch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-theme.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "all", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "scaffolds", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- moved script to bottom to minimize page loading time -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js" />

</body>
</html>
